body {
    margin: 0;
    height: 100vh;
    background-image: url("assets/Madeit1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: Arial, sans-serif;
}

/* Transparent text box */
.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: inline-block;
    text-align: center;
    color: white;

    background: rgba(0, 0, 0, 0.5);
    padding: 6px 10px;
    border-radius: 6px;
}

.overlay h1 {
    font-size: 30px;
    margin: 0;
}

.overlay p {
    font-size: 21px;
    margin: 4px 0 0;
}