body {
    font-family: 'Orbitron', sans-serif;
    background: rgb(205, 102, 157);
    text-align: center;
    padding-top: 50px;
    font-size: 25px;
    color: green;
    text-shadow: 0 2px 6px black;
  }


/* Center the container */
.container {
  text-align: center;
  margin-top: 50px;
}

/*keeps buttons neat*/
.button-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
   
}

#timer{
   
    position: fixed;
    top: 20px;
    left: 20px;
    font-size:  1.5rem;
    color: rgb(180, 20, 20);
    text-shadow: 0 2px 6px black;
}

/*button design*/
button {
  background-color: pink;
  color: white;
  border: none;
  padding: 25px 25px;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 500px;
  display: inline-block;
}

/* Button hover effect */
button:hover {
  background-color: hotpink;
}

button:disabled{
  background-color: gray;
  cursor: not-allowed;
  opacity: 0.6;
}

/* Stress bar background stlying */
.stress-container {
  width: 300px;
  height: 25px;
  background-color: #dddddd;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}

/* Stress bar filled */
#stress-bar {
  height: 100%;
  width: 0%;
  background-color: red;
  transition: width 0.3s ease;
}

/*school background*/
body {
  background-image: url('assets/classroom.png'); /* or .png */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}